{% extends 'jobsearch/edit.html' %}
{% block edit_content %}
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Вакансии</h2>
                        <a href="{% url 'my_company_vacancies_create' %}" class="btn btn-outline-primary">Создать</a>
                    </section>

                    {% include 'jobsearch/vacancy/company_vacancies_list.html' %}
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}